body {
  font-family: Raleway, arial, sans-serif;
  margin: 0
}

.header {
  background: grey;
  padding: 20px;
  text-align: center;
}

.header ul {
  list-style: none;
}

.content {
  background: #efefef;
  margin: 5px 5px;
  padding: 5px 5px;
}

.resultado {
  width: 300px;
  margin: 0 auto;
  background: yellow; 
  text-align: center;
  padding: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  text-transform: uppercase;
  text-align: center;
}

td.currency {
  text-align: right
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tfoot {
  text-transform: uppercase;
  font-weight: bold
}