<% include header %>
    <h2>Calculadora</h2>
    <form method="GET">
      Valor inicial: <input type="text" name="valorInicial"><br>
      Taxa a.m.: <input type="text" name="taxa"><br>
      Quantos meses: <input type="text" name="tempo"><br>
      <button type="submit">Calcular</button>
    </form>

    <% if (resultado.calculado) { %>
      <div class="resultado">
        <h2>Resultado</h2>

        <table>
          <thead>
            <tr>
              <th>Mês</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <% resultado.totais.forEach(iteracao => { %>
              <tr>
                <td><%= iteracao.mes %></td>
                <td class="currency"><%= functions.formatCurrency(iteracao.valor) %></td>
              </tr>
            <% }) %>
          <tbody>
        </table>
      </div>
    <% } %>
<% include footer %>