<!DOCTYPE html>
<html lang="en">
<head>
  <title>Meu Dinheiro</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body style="margin: 0">
  <section class="header">
    <img src="/images/meu-dinheiro.png"> 
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/calculadora">Calculadora</a></li>
      <li><a href="/operacoes">Operações</a></li>
      <li><a href="/nova-operacao">Nova Operaçāo</a></li>
    </ul>
  </section>

  <section class="content">