<% include header %>
    <h2>Nova Conta Mensal</h2>
    <form method="POST">
      Descriçāo: <input type="text" name="descricao"><br>
      Valor Estimado: <input type="text" name="valorEstimado"><br>
      Dia do Vencimento: <input type="text" name="diaVencimento"><br>
      <button type="submit">Inserir</button>
    </form>
<% include footer %>