<% include header %>
    <h2>Nova Operacao</h2>
    <form method="POST">
      Descriçāo: <input type="text" name="descricao"><br>
      Valor: <input type="text" name="valor"><br>
      <button type="submit">Inserir</button>
    </form>
<% include footer %>